<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand">SANDY</div>

        <ul class="navbar-nav">
                <li><a *ngIf="basicAuthService.isUserLoggedIn()" routerLink="/welcome/sandy" class="nav-link">Home</a></li>
                <li><a *ngIf="basicAuthService.isUserLoggedIn()" routerLink="/todo" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!basicAuthService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="basicAuthService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
    </nav>
</header>